<!-- <div id="<%= dom_id task %>">
  <p>
    <strong>Taskname:</strong>
  </p>

  <p>
    <strong>Taskimgurl:</strong>
  </p>

  <p>
    <strong>Taskamt:</strong>
  </p>

  <p>
    <strong>Taskval:</strong>
  </p>

</div>
 -->
<style>
  img{
    width:40px;
    height:40px;
  }
</style>
<td><%= task.taskname %></td>
<td><img src="<%= task.taskimgurl %>"></td>
<td><%= task.taskamt %></td>
<td><%= task.taskval %></td>