<!-- <div id="<%= dom_id userprofile %>">
  <p>
    <strong>Useremail:</strong>
  </p>

  <p>
    <strong>Username:</strong>
  </p>

  <p>
    <strong>Phonenumber:</strong>
  </p>

  <p>
    <strong>Address:</strong>
  </p>

  <p>
    <strong>Dob:</strong>
  </p>

  <p>
    <strong>Occupation:</strong>
  </p>

  <p>
    <strong>Gender:</strong>
  </p>

  <p>
    <strong>Profilepic:</strong>
  </p>

</div>
 -->

 <style>
  img{
    width:40px;
    height:40px;
  }
 </style>
<td><%= userprofile.userEmail %></td>
<td><%= userprofile.userName %></td>
<td><%= userprofile.phoneNumber %></td>
<td><%= userprofile.Address %></td>
<td><%= userprofile.DOB %></td>
<td><%= userprofile.Occupation %></td>
<td><%= userprofile.Gender %></td>
<td><img src="<%= userprofile.profilePic %>"></td>