<%= form_with(model: reward) do |form| %>
  <% if reward.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
        <% reward.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Trans_name, style: "display: block" %>
    <%= form.text_field :Trans_name %>
  </div>

  <div>
    <%= form.label :trans_logo, style: "display: block" %>
    <%= form.text_field :trans_logo %>
  </div>

  <div>
    <%= form.label :trans_type, style: "display: block" %>
    <%= form.text_field :trans_type %>
  </div>

  <div>
    <%= form.label :coins_amount, style: "display: block" %>
    <%= form.text_field :coins_amount %>
  </div>

  <div>
    <%= form.label :conversion_amount, style: "display: block" %>
    <%= form.text_field :conversion_amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
