<style>
  img{
    width:40px;
    height:40px;
  }
</style>
<td><%= reward.Trans_name %></td>
<td><%= reward.trans_type %></td>
<td><img src="<%= reward.trans_logo %>"></td>
<td><%= reward.coins_amount %></td>
<td><%= reward.conversion_amount %></td>

