<!-- <div id="<%= dom_id points_history %>">
  <p>
    <strong>A coins:</strong>
  </p>

  <p>
    <strong>Add type logo:</strong>
  </p>

  <p>
    <strong>Scheme name:</strong>
  </p>

</div>
 -->

 <style>
  img{
    width:40px;
    height:40px;
  }
</style>

<td><%= points_history.account_id %></td>
<td><%= points_history.Scheme_Name %></td>
<td><img src="<%= points_history.Add_type_logo %>"></td>
<td><%= points_history.A_coins %></td>