<div class="d-flex justify-content-between align-items-center">
  <h1>Points histories</h1>
  <%= link_to "New points history", new_points_history_path,class:"btn btn-outline-primary" %>
</div>
<div id="points_histories">
  <table class="table table-hover">
    <thead style="background: #7952b3;color:white">
      <tr>
        <th>S.No</th>
        <th>Account Id</th>
        <th>Scheme Name</th>
        <th>Logo</th>
        <th>Added Coins</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
  <% @points_histories.each_with_index do |points_history,index| %>
    <tr>
      <td><%= index+1%></td>
      <%= render points_history %>
      <td><%= link_to "Show this points history", points_history,class:"btn btn-outline-warning" %></td>
    </tr>
  <% end %>
</div>


 <%= will_paginate @points_histories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>