<style>
  img{
    width:40px;
    height:40px;
  }
</style>

<td><%= user.deviceId %></td>
<td><%= user.deviceType %></td>
<td><%= user.deviceName %></td>
<td><%= user.socialType %></td>
<td><%= user.socialId %></td>
<td><%= user.socialToken %></td>
<td><%= user.socialEmail %></td>
<td><%= user.socialName %></td>
<td><img src="<%= user.socialImgUrl %>"></td>
<td><%= user.securityToken %></td>
<td><%= user.adverstisiingId %></td>
<td><%= user.versionName %></td>
<td><%= user.versionCode %></td>
<td><%= user.utmSource %></td>
<td><%= user.utmMedium %></td>
<td><%= user.utmterm %></td>
<td><%= user.utmContent %></td>
<td><%= user.utmCampaign %></td>
