<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #7952b3;
/*    background-color: #7969b3;*/
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: #7952b3;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #7952b3;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}
h3{
    color:white;
}
</style>

<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
    <h3 class="my-2"> DashBoard </h3>
    <ul class="navbar-nav d-flex flex-column w-100">
        <li class="nav-item w-100"><%= link_to "Matches",matches_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Teams",teams_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "players",players_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Rewards",rewards_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "points-histories",points_histories_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Withdrawl-Histories",withdrawl_histories_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "user",users_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Account",accounts_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Games",games_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Tasks",tasks_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "Fantasy",fantasies_path,class:"nav-link text-light pl-4" %></li>
        <li class="nav-item w-100"><%= link_to "User Profile",userprofiles_path,class:"nav-link text-light pl-4" %></li>
    </ul>
    </nav>
    <section class="p-2 my-container">
        <button class="btn my-1 fa-solid fa-bars" id="menu-btn"></button>
        <%= render partial:'shared/notice'  %>
        <%= yield %>
    </section>
<%= javascript_include_tag('test.js') %>
