<style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
/*  padding: 30px 0px;*/
  position: fixed;
}

.wrapper .sidebar h3{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-radius: 5px;
}
.wrapper .sidebar .social_media a:hover{
  background-color: #af5bf5;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
  width:75vw;

}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}
</style>
<div class="wrapper">
    <div class="sidebar">
        <!-- <h3>DashBoard</h3> -->
        <ul style="padding:0">
            <li><%= link_to "Matches",matches_path %></li>
            <li><%= link_to "Teams",teams_path %>
            <li><%= link_to "players",players_path %>
            <li><%= link_to "Rewards",rewards_path %>
            <li><%= link_to "points-histories",points_histories_path %>
            <li><%= link_to "Withdrawl-Histories",withdrawl_histories_path %>
            <li><%= link_to "user",users_path %>
            <li><%= link_to "Account",accounts_path %>
            <li><%= link_to "Games",games_path %>
            <li><%= link_to "Tasks",tasks_path %>
            <li><%= link_to "Fantasy",fantasies_path %>

        </ul> 
        <!-- <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div> -->
    </div>
    <div class="main_content d-flex align-items-center justify-content-center">
      <div class="info">
        <%= yield %>
      </div>
    </div>
</div>
