<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :gamename, style: "display: block" %>
    <%= form.text_field :gamename %>
  </div>

  <div>
    <%= form.label :gameurl, style: "display: block" %>
    <%= form.text_field :gameurl %>
  </div>

  <div>
    <%= form.label :gameimgurl, style: "display: block" %>
    <%= form.text_field :gameimgurl %>
  </div>

  <div>
    <%= form.label :gameamt, style: "display: block" %>
    <%= form.text_field :gameamt %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
