<p style="color: green"><%= notice %></p>

<%= render @withdrawl_history %>

<div>
  <%= link_to "Edit this withdrawl history", edit_withdrawl_history_path(@withdrawl_history) %> |
  <%= link_to "Back to withdrawl histories", withdrawl_histories_path %>

  <%= button_to "Destroy this withdrawl history", @withdrawl_history, method: :delete %>
</div>
