<td><%= match.match_title %></td>
<td><%= match.match_short_title %></td>
<td><%= match.match_views %></td>
<td><%= match.match_status %></td>
<td><%= match.front_team %></td>
<td><%= match.opposite_team %></td>