<!-- <div id="<%= dom_id fantasy %>">
  <p>
    <strong>Signupbonus:</strong>
  </p>

  <p>
    <strong>Min withdrawl:</strong>
  </p>

  <p>
    <strong>Withdrawltype:</strong>
  </p>

  <p>
    <strong>Refferalcode:</strong>
  </p>

  <p>
    <strong>Logo:</strong>
  </p>

  <p>
    <strong>Title:</strong>
  </p>

  <p>
    <strong>Tasklink:</strong>
  </p>

</div>
 -->
 <style>
  img{
    width:40px;
    height:40px;
  }
</style>

<td><%= fantasy.Title %></td>
<td><img src="<%= fantasy.Logo %>"></td>
<td><%= fantasy.signupBonus %></td>
<td><%= fantasy.Min_withdrawl %></td>
<td><%= fantasy.WithdrawlType %></td>
<td><%= fantasy.RefferalCode %></td>
<td><%= fantasy.TaskLink %></td>