<!-- <div id="<%= dom_id account %>">
  <p>
    <strong>Account Id:</strong>
    <%= account.id %>
  </p>
  <p>
    <strong>User Id:</strong>
    <%= account.user_id %>
  </p>

  <p>
    <strong>Coins:</strong>
    <%= account.coins %>
  </p>

  <p>
    <strong>Referral code:</strong>
    <%= account.referral_code %>
  </p>

</div>
 -->
<td><%= account.id %></td>
<td><%= account.user_id %></td>
<td><%= account.coins %></td>
<td><%= account.referral_code %></td>
